# Large sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignment files
*.sam
*.bam
*.bai

# Large compressed files
*.gz

# Reference genome files
reference/

# Local software/tool installations
tools/
minimap2/

# Logs
logs/
*.log

# Ignore large intermediate files inside data/
data/*
!data/sample_info.txt

# Ignore large/intermediate results by default
results/*

# Keep representative portfolio results
!results/pgx_variant_summary.tsv
!results/pgx_variants.vcf
